# compiled output
/dist
/node_modules
/build

# OS
.DS_Store

# Tests
/coverage

# temp directory
.temp
.tmp

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
